
<!--/* 
	@author: Bilal El Uneis
	@since: July 2018
*/-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Default Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container">
		<div class="starter-template">
			<h1 th:text="${header}">Default Header</h1>
			<h2>
				<span th:text="'Message: ' + ${message}"></span>
			</h2>
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript" 
			src="webjars/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

</body>
</html>
